@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Open+Sans:wght@400;500&family=Roboto:wght@300;400;500&display=swap");

.app-container {
  width: 100vw;
  padding: 0px 5px;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  position: relative;
  background-color: rgb(228, 228, 241);
}
