*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.app-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map {
	height: 800px;
	width: 95%;
	border-radius: 10px;
	box-shadow: 10px 10px 10px 3px rgb(85, 80, 80);
	margin-bottom: 20px;
}