.map-container {
  width: 60%;
  height: 250px;
  border-radius: 10px;
}

.new-container {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/playa.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
}

.form-container {
  width: 80%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(89, 89, 97, 0.4);
  margin-top: 70px;
  padding: 50px 30px;
  border-radius: 10px;
  gap: 0.5rem;
  position: relative;
}

.form-container button {
  margin-top: 20px;
  width: 50%;
  border: none;
  background-color: rgb(58, 138, 212);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.imagenTrip {
  width: 80px;
  height: 80px;
  background-image: url("../assets/imagentrip.png");
  background-size: cover;
}

.img-container {
  width: 250px;

  background-color: transparent;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -60px;
  border: 1px dashed white;
}

input {
  width: 60%;
  height: 1.5rem;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

textarea {
  width: 60%;
  height: 3rem;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

select {
  width: 60%;
  height: 1.5rem;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.input-img {
  margin-top: 20px;
  width: 60%;
}

@media screen and (max-width: 768px) {
  input,
  textarea,
  select {
    width: 90%;
    max-width: 350px;
  }

  .map-container {
    width: 90%;
    max-width: 350px;
  }
}
