@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Open+Sans:wght@400;500&family=Roboto:wght@300;400;500&display=swap");

.register-form {
  width: 100vw;
  min-height: 800px;
  background-image: url(../assets/playa.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.container-form-useredit {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5px;
  margin-top: 50px;
}

span {
  color: red;
}

.caja {
  width: 60%;
  min-width: 280px;
  max-width: 500px;
  background-color: rgba(89, 89, 97, 0.4);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 30px 10px;
}

.register-avatar {
  width: 110px;
  height: 110px;
  background-image: url(../assets/camara.png);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  top: -50px;
}

#btn-register {
  margin-top: 20px;
  width: 90%;
  border: none;
  background-color: rgb(58, 138, 212);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.avatar-container {
  background-color: transparent;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -50px;
}

.avatar-container img {
  border-radius: 50%;
}

.inputs-edituser {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 90%;
  background-color: rgb(255, 255, 255, 0.9);
}

.group-inputs {
  display: flex;
  width: 90%;
  gap: 1rem;
}

.p-register {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.p-register span {
  color: blue;
  font-weight: 500;
}
.p-register span:hover {
  cursor: pointer;
}

.avatar-register {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url("../assets/avatar2.png");
  background-size: cover;
  position: absolute;
  top: -75px;
}
