.profile-container {
  max-width: 80vw;
  min-height: 100vh;
  background-color: rgb(228, 228, 241);
  text-align: center;
  display: flex;
  align-items: center;
}

.image-profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.user {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid rgb(211, 211, 211, 0.8);
  margin-bottom: 10px;
}

.editar {
  width: 30px;
  height: 30px;
  background-image: url("../assets/editar.png");
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 15px;
}

.img-cont {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 10px;
}

.user-images {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.user-images:hover {
  cursor: pointer;
  animation-duration: 0.7s;
  animation-name: image;
}

.userTrip-container {
  display: flex;
  flex-direction: row;
  padding: 5px;
  width: 200px;
  height: 200px;
  position: relative;
}

.userName-trips {
  max-width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logout {
  position: absolute;
  top: 10px;
  right: 20px;
}

.btn-deleteFavourite {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 4%;
  right: 3%;
  background-image: url("../assets/delete-icon.png");
  background-size: cover;
  background-color: transparent;
  border: none;
}

@keyframes image {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 5px;
  }
}

@media screen and (max-width: 768px) {
  .userTrip-container {
    width: 120px;
    height: 120px;
  }

  .profile-container {
    max-width: 100vw;
  }
}
