@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Open+Sans:wght@400;500&family=Roboto:wght@300;400;500&display=swap");

.login-form {
  width: 100vw;
  min-height: 800px;
  background-image: url(../assets/playa.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginContainer-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.loginContainer-form input {
  width: 80%;
  margin-top: 20px;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: 1px solid white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.loginContainer-form input::placeholder {
  color: white;
}

.loginContainer-form button {
  margin-top: 20px;
  width: 100%;
  border: none;
  background-color: rgb(58, 138, 212);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

span {
  color: red;
  margin-top: 10px;
  font-size: 0.9rem;
}

.box-login {
  width: 60%;
  max-width: 500px;
  height: 300px;
  padding: 10px;
  background-color: rgba(89, 89, 97, 0.4);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.avatar {
  width: 150px;
  height: 150px;
  background-image: url(../assets/avatar2.png);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  top: -75px;
}

.username-img {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../assets/username.png);
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}
.password-img {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../assets/password.png);
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}

.div-username {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div-password {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.view-password {
  width: 25px;
  height: 15px;
  background-image: url("../assets/viewpass.png");
  background-size: cover;
  margin-top: 20px;
}

.view-password:hover {
  cursor: pointer;
}
