@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Open+Sans:wght@400;500&family=Roboto:wght@300;400;500&display=swap");

.profile-container {
  width: 100%;
  min-height: 100vh;
  padding: 10px 20px;
  background-color: rgb(228, 228, 241);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid rgb(211, 211, 211, 0.8);
  margin-bottom: 10px;
}

.editar {
  width: 30px;
  height: 30px;
  background-image: url("../assets/editar.png");
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 15px;
}

.editar {
  cursor: pointer;
}

.img-cont {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 10px;
}

.user-images {
  border-radius: 5px;
}

.user-images:hover {
  cursor: pointer;
  animation-duration: 0.7s;
  animation-name: image;
}

.profile-username {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.profile-email {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.profile-biography {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.userTrip-container {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.userName-trips {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logout {
  position: absolute;
  top: 10px;
  right: 20px;
}

@keyframes image {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
    box-shadow: 0px 0px 20px 5px;
  }
}
